services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis

  worker:
    build: .
    command: celery -A Z_pos worker -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - web

  beat:
    build: .
    command: celery -A Z_pos beat -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - web
